@import "../node_modules/nord/src/sass/nord.scss";

body{
    background-color: $nord0;
}

.jumbotron{
    background-color: $nord10;
    color: $nord4;
}

.row{
    margin-left: auto;
    margin-right: auto;
}